.article {
  margin-bottom: 80px;
}

.article__content {
  max-width: 680px;
}

.article__title {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 6px;
  border-bottom: 1px solid #868686;
  margin-bottom: 16px;
}

.article__text {
  font-size: 18px;
  margin-bottom: 32px;
  white-space: pre-line;
}

.article__like-btn {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 16px;
}

.article__like-btn > span {
  font-size: 18px;
  margin-left: 6px;
}

.article__img {
  width: 24px;
  height: 24px;
}

.article__hashtags {
  font-size: 16px;
}

.article__hashtags > span {
  color: #0084ff;
}

.article__btns {
  margin-bottom: 24px;
  text-align: right;
}

.article__btn-edit {
  padding: 7px 34px;
  color: #fff;
  background-color: #29cdc5;
  border-radius: 10px;
  outline: none;
}
.article__btn-edit:hover {
  color: #fff;
  outline: none;
}

@media screen and (max-width: 420px) {
  .article {
    margin-bottom: 30px;
  }
}
