.article {
  margin-bottom: 80px;
}

.article__content {
  max-width: 680px;
}

.article__title {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 6px;
  border-bottom: 1px solid #868686;
  margin-bottom: 16px;
}

.article__text {
  font-size: 18px;
}

.article__btns {
  margin-bottom: 24px;
  text-align: right;
}

.article__btn-edit {
  padding: 7px 34px;
  color: #fff;
  background-color: #29cdc5;
  border-radius: 10px;
  outline: none;
}
.article__btn-edit:hover {
  color: #fff;
  outline: none;
}
