.header {
  margin-bottom: 32px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #86868663;
}

.header__left {
}

.header__right {
}

.nav {
}

.nav__list {
}

.nav__item {
}

.nav__btn {
  font-size: 18px;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid #000;
  background-color: transparent;
  transition: all 0.2s;
}
.nav__btn:hover {
  opacity: 0.7;
}
