.home {
  margin-bottom: 80px;
}

.home__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.home__link {
}

.home__wrapper {
  width: 300px;
  height: 106px;
  padding: 14px;
  border: 1px solid #000;
}

.home__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.home__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home__btns {
  margin-bottom: 24px;
  text-align: right;
}

.home__btn-add {
  padding: 7px 34px;
  color: #fff;
  background-color: #4acd29;
  border-radius: 10px;
}
.home__btn-add:hover {
  color: #fff;
}

.home__title-empty {
  font-size: 48px;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .home__list {
    gap: 10px;
  }
}

@media screen and (max-width: 770px) {
  .home__btns {
    text-align: center;
  }

  .home__list {
    justify-content: center;
  }
}

@media screen and (max-width: 420px) {
  .home {
    margin-bottom: 30px;
  }
}
